$secondaryColor: #004baa;
$primaryColor: #002555;
$thirdColor: #0070ff;
$fontFamily: sans-serif;
$margin-1: 0.25rem;
$headerMargin-1: 3rem;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.switch {
  width: 50%;
  background: blue;
  height: 100%;
}

body {
  background-color: $primaryColor;
  font-family: $fontFamily;
  color: white;
  
}

.drumpalette-container {
  // border: 2px solid red;
}

main {
  
  .btns-container {
    width: 11rem;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: space-between;
    border: 1px solid red;

    .volume-container {
      margin-top: 10px;
      display: flex;
      
      input[type="range"] {
        // box-shadow: 0px 0px 4px 0px black;
        width: 100;
          
      }

      input[type="range" i] {
        cursor: pointer;
        
      }
      
      
    }

    .control {
      display: flex;
      // border: 1px solid red;
      flex-direction: column;
      margin: 1rem;
      text-align: center;

      .select {
        border: 2px solid black;
        width: 60px;
        height: 20px;
        background: black;
        display: flex;
        align-items: center;
        // justify-content: center;


        .inner {
          // border: 1px solid green;
          width: 30px;
          background-color: $primaryColor;
          height: 20px;
          border: 2px solid black;
        }
      }
    }
  }
  header {
    text-align: center;
    margin-top: $headerMargin-1;
    font-size: 2.5rem;
    text-transform: uppercase;
    // border: 1px solid red;
  }

  .wrapper {
  justify-content: center;
  align-items: center;
  margin: 5rem auto;
  width: 500px;
  display: flex;
  height: 250px;
  border-radius: 3px;
  padding: 1rem;
  border: 3px solid #fff;
  background-color: $secondaryColor;
  box-shadow: 0px 0px 8px 0px $secondaryColor;
  // position: relative;

    .drumpalette-container {
      display: inline-block;
      align-items: center;
      justify-content: center;
      width: 300px;
      position: relative;
      // border: 1px solid red;
      
     
      
      .btn-0 {
        border: 2px solid red;
      }

      .small-btn {
        display: flex;
        justify-content: center;
      }
      
      
    }
  }

  .drum-pad {
    position: relative;
    float: left;
    height: 60px;
    width: 75px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    padding: 1.2rem;
    box-sizing: border-box;
    background-color: $thirdColor;
    box-shadow: 2px 2px 4px black;
    margin: $margin-1;
    cursor: pointer;
    text-align: center;
    margin-top: $margin-1;
  }

  .output {
    width: 150px;
    height: 50px;
    color: white;
    font-weight: 600;
    letter-spacing: 0.10rem;
    background-color: $primaryColor;
    display: flex;
    align-items: center;
    justify-content:center;
  }
}

